 
/* CSS Document */
 html, body {
     font-size: 14px;
     height: 100%;
     overflow-x: hidden
}
 body {
     font-family: helvetica, verdana, arial, sans-serif;
	background: -moz-linear-gradient(top,  rgba(0,56,137,0.35) 0%, rgba(24,113,201,0.35) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,56,137,0.35) 0%,rgba(24,113,201,0.35) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,56,137,0.35) 0%,rgba(24,113,201,0.35) 50%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59003889', endColorstr='#ffffff',GradientType=0 );
     color: #191919;
     letter-spacing: .05em;
}
 body {
    font-size: 1rem
}
 a, a.nav-link, a abbr {
     text-decoration: none;
     color: #425799;
     border-bottom: 1px dotted #425799;
}
 a:hover, a.nav-link:hover, a abbr:hover {
     text-decoration: none;
     color: #866FBF 
    /* #F0D3F8 */
    ;
     border-bottom: 1px dotted #CA94D5;
}
 a:not(.nav-link):visited {
     text-decoration: none;
}
 a:active {
     color: #ff8571;
     text-decoration: none;
     border-bottom: 0;
}
 abbr {
    text-decoration:none;
}

header #navBar {
	background: -moz-linear-gradient(left,  rgba(24,113,201,0.35) 0%, rgba(0,56,137,0.35) 100%);
	background: -webkit-linear-gradient(left,  rgba(24,113,201,0.35) 0%,rgba(0,56,137,0.35) 100%);
	background: linear-gradient(to right,  rgba(24,113,201,0.35) 0%,rgba(0,56,137,0.35) 100%);
	background: linear-gradient(110deg, rgb(24, 113, 201) 0%, rgb(0, 56, 137) 100%), url(../images/bckgrd/header-bckgrd.JPG) no-repeat center 0 / cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591871c9', endColorstr='#59003889',GradientType=1 );
	background-blend-mode: darken; 
	/* background-blend-mode: screen; 
	/* background-blend-mode: multiply; */
}

 h1, h2, h3, h4, h5, h6 {
     font-family: Verdana, Helvetica, sans-serif;
     color: #191919;
}
 h1 {
     border-bottom: 1px solid #666;
     padding: 25px 0 25px 0;
     color: #E6E6E6;
}
 .jumbotron .h1, .jumbotron h1, .community-quick-search h1 {
    font-size: 3.5rem
}
 h1, .h1 {
     font-size: 2rem;
}
 h2, .h2 {
    font-size: 1.75rem
}
 h3, .h3 {
    font-size: 1.25rem
}
 h4, .h4 {
     font-size: 1.125rem
}
 h5, .h5 {
    font-size: 1rem
}
 h6, .h6 {
    font-size: .85rem
}
 p {
     line-height:1.42857143 
}

#navbarNavDropdown .nav-item {margin: auto}

main#content {
	padding: 1rem;
    min-width: 0;
    min-height: 450px;
    background-color: #fff;
}
 #nav.navbar-nav, #navFooter .nav {
     margin: auto
}
 #nav.navbar-nav {
 	background-color: rgba(255,255,255,.6);
	padding: .32rem .55rem
}
 
 #navFooter a.nav-link {
    min-height: 24px;
    font-size: 1rem
}
  
 #rDeskGallery .thumbnail-outer-container { 
	padding: 0 .75rem 1rem
}
 #rDeskGallery .gallery-content .card {
 	padding: .5rem .5rem 0;
 	margin-top: 0
}
#rDeskGallery .gallery-content .card {
    position: relative;
    height: 100%;
    max-height: 610px;
    background-color: #577DA1;
    overflow-y: auto;
    overflow-x: hidden;
}

#rDeskGallery .figure.card h3 {
    margin-top: .125rem;
    padding-top: .65rem;
    font-size: 1rem;
    background-color: rgba(255,255,255, .72);
    z-index: 20;
    width: 100%;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left:0;
    z-index: 1020;
  }
}

#rDeskGallery .card  img {	
	width: 100%;
}	
 #myCarousel .carousel-item.active, 
 #thumbnailsComplete .carousel-item {
    display: block !important
}
div#rDeskGallery  .thumbnails {
	margin-top: 0
}
 #content .nav-tabs {
	 padding-top:1.5rem
}
 #thumbnails5 {
     width: 100%
}
 #wrapper2 {
     margin: .25rem auto 0;
     padding: .125rem 0 1rem;
     height: 100%;
    /* background-color: #fff;*/
}
 #navBar {
     display: block;
     position: relative;
     padding-bottom: 1rem;
     width: 100%;
     height: auto;
     background-color: #fff;   
}

#ltrHd img {max-height: 500px}

/* Start Homepage */
 .web-portfolio-homepage .box-2 img {max-height: 912px}

 .print-portfolio-homepage .box-1 img {
 display: block;
 margin: auto 0;
 max-height: 561px}
 .print-portfolio-homepage .box-2 img {max-height: 500px}
 .print-portfolio-homepage .box-4 img,
.print-portfolio-homepage .box-5 img {max-height: 600px}
 
 
 .print-portfolio-homepage .mosaic-box p {
     top:0;
     right:0;
     bottom: auto;
     left: auto;
    /* border-bottom: 1px solid #aeb1bf */
}

.nav-tabs .nav-link.active {
    color: #425799 /* #866FBF */;
    box-shadow: rgba(0,0,0,.125) 2px -1px 2px
}

 .nav-tabs .nav-link {
     padding: .75rem 1rem;
     /* color: #6FADBF */
     color: #4a7682
}

.navbar-brand .h1 span { background: none}

.navbar-brand .h1 {
    margin: 0;
    padding: .75rem 1rem 0;
 	font-size: 2rem;
 	letter-spacing: -.05em;
 	word-spacing: -.15em;
 	background-color: rgb(255, 255, 255);
 	background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(25, 25, 25) 8%, rgb(255, 255, 255) 90%);
  	background: -o-linear-gradient(#111, #fff);
  	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgba(134,111,191,0.36) 8%,  rgb(255, 255, 255) 90%);
  	-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  	text-fill-color: transparent;
  	text-shadow: rgba(0,0,0,.125) 0px -1px 0px;
  	white-space: normal;
	line-height: 1;
  	border:0
  }

.nav-tabs {margin-top:1rem}

.print-portfolio-homepage header,
.web-portfolio-homepage header {
	padding: .5rem 1rem 0;
	-ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1; 
    -ms-grid-column-span: 1;
    grid-column: 1/2
}

.print-portfolio-homepage header {
	-ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4}

 .mosaic-box p, .mosaic-box h4 {
     position: absolute;
     margin: 0;
     padding: .2rem 1rem .25rem;
	 background: -moz-linear-gradient(110deg,  rgba(24,113,201,0.36) 0%, rgba(0,56,137,0.36) 100%);
	 background: -webkit-linear-gradient(110deg,  rgba(24,113,201,0.36) 0%,rgba(0,56,137,0.36) 100%);
	 background: linear-gradient(110deg,  rgba(24,113,201,0.36) 0%,rgba(0,56,137,0.36) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c1871c9', endColorstr='#5c003889',GradientType=1 );
     width: auto;
     font-size: .875rem;
     color: #fff;
     border-top: 1px solid #aeb1bf;
     text-shadow: rgba(0,0,0,.5) 1px 1px 1px, rgba(0,0,0,.5) 0 -1px 1px;
     box-shadow: rgba(0,0,0,.2) 1px 1px 7px;
     top:0;
     left: 0 
}

 .mosaic-box a {
 	margin: auto;
 	border: 0}

 .web-portfolio-homepage, 
 .print-portfolio-homepage {
     display: block;
     padding-bottom: 1.5rem;
     height: 100%;
}

/*
.mosaic-box::before {
    position: absolute;
    content: "";
    border-top: 1px solid #aeb1bf;
    top: 0;
    right: 0;
	left: 0;
} */

 .mosaic-box {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 1rem;
     padding: 1.5rem 0 0;
     /* background-color:  #aeb1bf #fff; */ 
   /* background: -moz-linear-gradient(left,  rgba(125,182,198,.36) 0%, rgba(111,173,191,0.36) 50%, rgba(134,111,191,0.36) 100%);
	 background: -webkit-linear-gradient(left,  rgba(125,182,198,.36) 0%,rgba(111,173,191,0.36) 50%,rgba(134,111,191,0.36) 100%);
	 background: linear-gradient(to right,  rgba(125,182,198,.36) 0%,rgba(111,173,191,0.36) 50%,rgba(134,111,191,0.36) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db6c6', endColorstr='#5c866fbf',GradientType=1 ); */
     min-height: 50px;
     min-width: 50px;
     -ms-grid-column-align: center;
     justify-self: center;
     align-self: start;
     overflow: hidden
}

.strong {font-weight: bolder}


/* Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
 
  #navBar {padding-bottom:0}
 
 .nav-item.dropdown:hover ul,
 .nav-item.dropdown:focus ul {
  display: block !important;
  margin-top: -.25rem
  }
  
  .web-portfolio-homepage, 
  .print-portfolio-homepage {
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 1fr .85rem [col-start];
     grid-template-columns: repeat(1, 1fr [col-start]);
     -ms-grid-rows: auto;
     grid-template-rows: auto;
     grid-column-gap: .85rem;
     grid-row-gap: 1rem
}
  
  .print-portfolio-homepage .box-1 {
  	-ms-grid-column: 1;
  	-ms-grid-column-span: 3;
  	grid-column: 1/4;
	-ms-grid-row: 4;
	grid-row: 6/6;
	}
  
  .print-portfolio-homepage .box-2 {
    margin: auto;
  	-ms-grid-column: 3;
  	-ms-grid-column-span: 1;
  	grid-column: 3/4;
	-ms-grid-row: 2;
	grid-row: 4/4;
	}
  
  .print-portfolio-homepage .box-3 {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1/4;
	-ms-grid-row: 4;
  	grid-row: 5/5;
	}
  
  .print-portfolio-homepage .box-4 {
  	-ms-grid-row: 2;
  	grid-row: 4/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
	}
	
	.print-portfolio-homepage .box-5 {
  	-ms-grid-row: 2;
  	grid-row: 2/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 1/4;
	}
	
  .navbar-brand .h1 {
    padding: .35rem 1rem .75rem;
  	font-size: 2.2rem;
 	background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(25, 25, 25) 8%, rgb(255, 255, 255) 100%);
  	background: -o-linear-gradient(#111, #fff);
  	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgba(134,111,191,0.36) 8%,  rgb(255, 255, 255) 100%);
  	-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  	text-fill-color: transparent;
  	text-shadow: rgba(0,0,0,.125) 0px -1px 0px;
  }


}

/* End Homepage */
 #headerLogo {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 100%;
     background: none;
}
 #headerLogo a {
 	display: block;
    width: 100%;
    border:0
}
 #headerLogo h6 {
     position: relative;
     display: block;
     top: 20px;
     padding: 0;
     margin: 0;
     width: 100%;
}
 #headerLogo h6 a {
     display: block;
     text-decoration: none;
     font-size: 0;
     border: 0;
}/*
 #gallery article > .standard, 
 #gallery > .standard {
    margin-bottom: 1rem
}*/
 #gallery > .standard {
 	word-break: keep-all;
 	hyphens: none
}
 #gallery .thumbnails {
    margin-top: 1rem
}
 #thumbnails, #thumbnails2 {
    /*margin-top: .5rem; */
     width: 100%
}
 #box2SmlCtr {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: relative;
     padding: 0
}
 #box2SmlCtr .box2Small {
     position: relative;
     margin: 0;
     padding: 0 1rem 1rem
}

 #gallery.carousel-inner, .carousel-inner {
    margin: auto
}
 #gallery {
     margin: auto auto 1rem;
     width: auto;
     overflow: visible;
     -webkit-overflow-scrolling: touch;
     font-size: 1rem
}
 .navbar-light .navbar-nav .nav-link {
     border: 0;
     padding-top: 0;
     padding-bottom: 0;
     font-size: 1.125rem;
     font-weight: 300;
     color: #425799;
     text-shadow: 1px 0 1px rgba(0, 0, 0, .12)
}

 .carousel .standard, 
 .modal-backdrop.fade.in,
 .modal-open .carousel-indicators {
    display: none
}

 .carousel-inner .thumbnail-outer-container {
     -webkit-box-flex: 0;
     -ms-flex: none;
     flex: none;
     max-width: 100%
}
 .thumbnail-outer-container.carousel-item {
     float: none !important;
     display: none !important
}
 .gallery-content .figure img, .gallery-content .figure2 img {
    max-height:none
}
 .dropdown-item.active, .dropdown-item:active {
    background-color: #ddd
}
 .dropdown-menu a, .dropdown-item a {
    color: #425799 !important;
    letter-spacing: -.001em;
    border:0
}
 .navbar-nav .dropdown .caret {
     color:#e0e8ff !important;
}
 .overnight-prints-gallery .figure {
    padding-bottom: 1.5rem;
     min-height: 200px;
}
 .thumbnails .thumbnail-outer-container {
     margin: auto;
     padding-right: .85rem;
     padding-left: .85rem;
}
 .navbar-toggler {
     position: relative;
     margin: 1rem 1rem auto auto;
     padding: .125rem .25rem;
     max-height: 40px;
     top: 0;
     bottom: 0;
	 background-color: rgba(142,152,201,.5)
}
 .dropdown-item {
    padding: .125rem 1rem .25rem
}
 .nwLogo {
     position: relative;
     display: block;
     min-height: 30px;
     max-height: 100px
}
/* .card img {
    transition: opacity 0.15s ease-in-out
}*/
/*.box-outer {
    padding: .85rem .25rem .75rem 
}*/
 .box2 {
     margin-top:.5rem;
     border: #fff 1px solid;
}
 .box-outer2 {
     padding-bottom: 0;
     padding-top: 0;
     margin-right: 0;
     max-height: 215px;
}
 .box-inner2 {
     padding: 2.5rem 4.55rem 2.85rem;
     min-height: auto !important;
     min-height: 100%;
     min-height: 215px;
}
/* .web {
     background: url(../images/bckgrd/smallBox/newsite_top_left_web.png) no-repeat left top;
}
 .print {
     background: url(../images/bckgrd/smallBox/newsite_top_left_print.png) no-repeat left top;
}
 */
/* .box h1, .box h2, .box p {
     padding-left: 5%;
     padding-right: 5%;
}
 */
 .box2 h2 {
     padding: 1rem .25rem .125rem;
     font-size: 1.375rem;
     text-align: center;
}
 .box2 h2 a:hover {
     color: #CA94D5;
}
 .copyright a:hover {
     color: #CA94D5;
}
 .box-inner > div, .textGallery {
     display: block;
     position: relative;
     margin: auto;
     padding: 0;
     min-height: auto !important;
     min-height: 100%;
     font-size: inherit;
     line-height: normal;
}
 .bodyLi3 {
     text-align: center;
     font-size: 1rem;
}
 .titleImage {
     position: relative;
     display: block;
     padding: 4px 0;
     margin: 0 auto;
     text-align: center;
    /* background-color: #f1f1f1;
     */
     width: 100%;
}
 .titlePDF {
     position: relative;
     padding: 6px 0 12px 0;
     margin: 0;
     text-align: right;
}
 .jobTitleDesc {
     font-size: 12px;
     color: #669;
     padding-top: 4px;
     letter-spacing: .005em;
     font-weight: bold;
}
 hr {
     display: none;
}

 div .drop {
     float: left;
     display: inline;
     position: relative;
     margin: .25rem .75rem 0 0;
     padding: .5rem .7rem .25rem;
     font-size: 1.5rem;
     line-height: 1;
     background-color: #05448C;
     color: #EDEFF5;
	}
 table {
     width: 100%;
     border-collapse: collapse;
     margin: 2em;
     border-color: transparent;
     border-width: 0;
     border-style: solid;
     border: none;
     margin: 12px 0 0 6px;
     padding: 0;
}
 caption {
     font-size: 10px;
     margin: 0;
     color: #191919;
     font-weight: bold;
}
 col#workTable col#workTable2 {
     border: 0;
}
 col#workCol, col#numberCol, col#emptyCol, col#regionCol, col#region2Col {
     border-width: 0;
     border-style: none;
     border-color: inherit;
}
 table#workTable table#workTable2 {
     background-color: #191919;
}
/* width: 97%;
 max-width: 740px;
 */
 #workTable thead #workTable2 thead {
     padding: 0;
}
 th#workTable th#workTable2 {
     font-weight: normal;
     text-align: center;
}
 col {
     border: 0 solid #fafafa;
}
 th, td {
     padding: 2% 1%;
     border-color: transparent;
     border-width: 0;
     border: 0 solid #fff;
}
 .table-striped tbody tr:nth-of-type(odd) {
 	 background-color: #cfe1f7;
     /* background-color: #c2c5d3; */
     /* #aeb1bf;
     #5B5E66 */
     color: #F1F4F9 
}
 #workTable tbody tr:hover .cronus a,
 #workTable tbody tr:hover .cronusBdy a,
 #workTable tbody tr:hover .cronus,
 #workTable tbody tr:hover .cronusBdy {
    color: #fff !important
}
 #workTable tbody tr:hover {
     background-color: #5895D2;
     color: #191919 
}
 #workTable2 tbody tr:hover {
     background-color: #DDE0E5;
     color: #191919;
}
 .mikrotech-hrz-banner-container .figure h3,
 .mikrotech-hrz-banner-container h3, 
 .figure.card h3 {
     margin-bottom: 1.125rem;
     padding: .5rem .5rem .75rem;
     background: -moz-linear-gradient(left,  rgba(125,182,198,.35) 0%, rgba(111,173,191,0.35) 50%, rgba(134,111,191,0.32) 100%);
	 background: -webkit-linear-gradient(left,  rgba(125,182,198,.35) 0%,rgba(111,173,191,0.35) 50%,rgba(134,111,191,0.32) 100%);
	 background: linear-gradient(to right,  rgba(125,182,198,.35) 0%,rgba(111,173,191,0.35) 50%,rgba(134,111,191,0.32) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db6c6', endColorstr='#5c866fbf',GradientType=1 );
     color: #05448C;
     border-radius: 2px 
}
 .mikrotech-hrz-banner-container .figure, 
 .figure.card {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin: 1rem auto 0;
     padding-top: .75rem;
     padding-bottom: 1rem;
     min-height: auto;
     background: rgba(112,128,178, .125);
}

 .figure h3 a {color: #fff}
 
 .show-info {
     width: 85%;
     margin: 1.5em .5em 0 2.5em;
     font: 1em/100% Verdana, Arial, Helvetica, sans-serif;
     line-height: 150%;
}
 .show-info h5 {
     margin: 0 0 1em 0;
     padding: .5em 1em;
     background-color: #DCE5E0;
     font-size: .8em;
     line-height: 140%;
     color: #191919;
     border: 0 solid #fff;
}
 .show-info div {
     padding: 0 .25em 1.25em .25em;
     text-align: left;
     font-size: .9em;
     color: #191919;
}
 .modal-body {
    padding: 0
}
 .smallText {
     font-size: 0.7em;
     line-height: 150%;
     font-weight: normal;
}
 .title h3 {
     position: relative;
     display: block;
     padding: 6px 12px 0 12px;
     margin-bottom: -3em;
     font-size: 1.25em;
     text-align: left;
     line-height: 150%;
     background-color: transparent;
}
 .subhead, .workTitle {
     display: block;
     position: relative;
     padding: 1.125rem 0 .7rem 0;
     font-size: 1.25rem;
     font-weight: bold;
     line-height: 150%;
     background-color: transparent;
     width: 100%;
}
 .workTitle {
     padding-top: 1.125rem;
     font-size: 1.1rem;
     font-weight: normal
}
 .workTitle2 h3 {
     display: block;
     position: relative;
     padding: 9px 12px 16px 0;
    /* margin-left: -2.25em;
     */
     font-size: 1em;
     text-align: left 
}
 h3.workTitle3 {
     padding: 1.4rem .85rem 1.2rem 0;
     font-size: 1em;
     text-align: left;
}
 .standard h3, .standard h2 {
     padding: .85rem .85rem .5rem;
     margin: 0;
     font-size: 1em;
}
 .standard {
     padding: .25rem 0 0;
     margin-right: 0;
     margin-left:0;
     font-size: 1.05rem;
     line-height: 1.5;
     widows: 2;
     orphans: 2;
     overflow: hidden
}
 .standard:last-child {
    padding-bottom:1rem
}
 #workTable thead h3 {
    font-size: inherit
}
 #workTable h3, .cronus {
     padding: 0 .5rem;
     margin: 0;
     font-size: .875em;
     text-align: center;
     vertical-align: top;
     background-color: transparent;
     line-height: 125%;
     font-family: Helvetica, sans-serif;
}
 #workTable h2,  #workTable h3.cronusBdy {
     padding: 0 .85rem 0 .5rem;
     font-size: .875em;
     text-align: left;
     vertical-align: top;
     background-color: transparent;
     line-height: 125%;
     font-weight: normal;
}
 #workTable thead h3, #workTable thead h2 {
     font-size: 1rem !important;
     line-height: normal;
     font-weight: bold !important;
     padding: 0 !important;
     margin: 0 !important;
}
 .psb .figure {
     min-height: 120px
}
    
 .copyright {
     display: block;
     font-family: Verdana, Helvetica, sans-serif;
     font-size: .75rem;
     text-transform: uppercase;
     color: #666;
     margin: 0 auto;
     padding: 0 1rem .5rem;
     text-align: center;
     clear: both;
}
 p.intro {
     font-size: 1.25rem;
     line-height: normal;
     margin-bottom: 1.25rem;
     margin-top: 0;
     padding: 0 0 6px 0;
     font-weight: bold;
}
 h2.intro {
     font-size: 1.25rem;
     line-height: normal;
     padding: 6px 0 12px 0;
     font-weight: bold;
     text-align: left;
}
 .figure p > a {
    display: inline-block
}
 .figure img, .figure2 img {
     display: block;
     margin: 0 auto;
     background-color: #f1f1f1;
     padding: 0;
     text-align: center;
     height: auto !important;
    /*max-height: 240px;
    */
     max-width: 100% !important;
}
 .figure2 h3 {
     font-size: .875em;
     text-align: left;
     padding: .25rem 0;
     width: 100%;
}
 .figure h3 {
     padding: .325rem 0 .5rem;
     text-align: center 
}

 .figure a {
     display: block;
     border: 0;
     color: #425799;
     text-decoration: none
}
 .figure p {
     font: 1em/normal Verdana, Helvetica, sans-serif;
     text-align: center;
     margin: .5rem 0 .5rem;
     font-size: .825rem;
     letter-spacing: normal;
}
 .figure abbr {
    display: inline-block
}
 .figure {
     margin: auto auto .5rem;
     padding: 0;
     min-height: 320px;
     text-align: center;
     background: transparent;
     border: 0
}
 .figure2 {
     max-width: 728px;
     min-height: 120px;
     text-align: left;
}
 .right {
     text-align: right;
     padding-right: 20px;
}
 div h3 {
     text-align: left;
}
 div#bodyLi {
    margin-bottom: 1rem;
     font-size: 1.125rem
}
 #bodyLi .standard {
     font-size: 1.15em;
     padding: 0 0 24px 0;
}
/* ul.bodyLi2 {
     float: left;
     display: block;
     position: relative;
     text-align: left;
     list-style: none;
}
 */
 ul.bodyLi2 {
    margin-bottom:0
}
 .bodyLi2 li, .bodyLi3 li {
     float: none;
     display: block;
     position: relative;
     line-height: 150%;
     list-style: none;
     padding: 0;
}
 .bodyLi2 li {
     padding: .5rem 0 0;
     text-align: left;
     font-weight: bold
}
/* a[href^="http:"] {
     background-image: url(../images/externalLink.gif);
     background-repeat: no-repeat;
     background-position: right top;
     padding-right: 10px;
}
 */
 a[href^="http://www.nathanielwhynott.com"] {
     background-image: none;
     padding-right: 0;
}
 a[href$=".pdf"] {
     display: inline;
     background: transparent url(../images/PDF_24.png) no-repeat right center;
     padding: .25rem 1.65rem .5rem 0;
}
 #gallery > br {
     clear: left;
}
 .carousel-control-next, .carousel-control-prev {
    font-size: 3.5rem;
}
 .floatLft {
     float: left;
}
 .floatRgt {
     float: right;
}
 .noFloat {
     float: none;
}
 .floatcontainer {
    display: inline-block;
}
 .lft {
    text-align: left;
}
 .ctr {
     text-align: center;
     text-indent: 0;
}
 .show-grid {
     margin-top: 1rem;
     margin-bottom: .5rem
}
 #gallery .carousel-item {
     display: block !important;
     float: none;
    /* margin: 0;
     width: auto */
}
 #myCarousel .carousel-inner {
     margin: auto;
     height: 100%;
}
 #myModal .modal-body {
    height: 100%
}
 .carousel-inner > .item {
    display: none;
}
 .carousel .active {
     position: relative;
     display: block;
     padding: 0 .5rem;
     width: 100%;
     max-width: 100%;
     height: auto;
    /*max-height: 640px;
    */
}
 .carousel-control-next, .carousel-control-prev {
     font-size: 5rem;
     background: rgba(0,0,0,.25);
     width: 50px;
     height: 50px;
     top: 50%;
}
 .carousel-inner {
     margin: 0 auto;
     padding-top: 1rem
}


i.fa-facebook-square:before { background-image:url("/images/icons/Facebook Icon - White.png");}
i.fa-instagram-square:before { background-image:url("/images/icons/Instagram Icon - White.png");}
i.fa-twitter-square:before { background-image:url("/images/icons/Twitter Icon - White.png");}
i.fa-linkedin-square:before { background-image:url("/images/icons/LinkedIn Icon - White.png");}
i.fa-pinterest-square:before { background-image:url("/images/icons/Pinterest Icon - White.png");}


/* Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
     body {
        font-size: 13px
    }
}
/* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
     body {
        font-size: 14px
    }
     #gallery article > .standard,
     #gallery > .standard,
     #gallery.gallery-ui p {
         -webkit-column-count: 2;
         column-count: 2
    }
    
    #gallery .carousel-item {margin: 0}
    
	#rDeskGallery .carousel-item { width: inherit}
	
    #nav.navbar-nav {
    background-color: rgba(255,255,255,.6);
    padding: .32rem .55rem;
    box-shadow: rgba(0,0,0,.125) 5px 0 7px;
    width: 100%;
    margin: 0}
    
     .navbar-expand-lg .navbar-nav .nav-link {
         padding-right: 1rem;
         padding-left: 1rem;
    }
     .navbar .navbar-collapse {
        margin-top:0;
        margin-bottom: -1rem;
    }
    
     .print-portfolio-homepage .box-2 img {max-height: 250px}
     
     .carousel .card.ahs img {max-height: none}
          
     .navbar-brand .h1 {font-size: 4rem; text-align: center}

     /*.box-outer {
         padding-right: 1rem;
         padding-left: 1rem;
    }*/
    
    
    
}
/* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
     body {
        font-size: 15px
    }
    
    #navBar {padding: 0}
          
    .print-portfolio-homepage .box-2 img {max-height: 350px}
    
	.card.ahs img {max-height: 374px}

    .navbar-brand .h1 {font-size: 5rem}
   
   	div .drop {
   		padding-top: .4rem;
   		padding-bottom: .25rem
   	}
   		
}

/* Extra large devices (large desktops, 1200 and up) */
 @media (min-width: 1200px) {
     body {
        font-size: 16px
    }
    
    header #navBar { background-position: left top, center -1rem}
        
	.print-portfolio-homepage .box-2 img {max-height: 500px}
	
	.card.ahs img {max-height: 484px}
    
     .container {
        max-width: 1200px
    }
}

@media (min-width: 1400px) {
	
    
}

 @media (min-width: 1600px) {
	#gallery article > .standard,
	#gallery > .standard,
	#gallery.gallery-ui p
	 {
			 -webkit-column-count: 3;
			 column-count: 3
		}
 
 	header #navBar { background-position: left top, center -3rem}
 	
 	.card.ahs img {max-height: 574px}

 	.navbar-brand .h1 {font-size: 6rem}
 	
    .container {
        max-width: 1400px
    }
}
