@charset "utf-8";
/* CSS Document */


html, body{ font-size: 14px}


body {
	position: relative;
	padding-top: 70px;
	font-family: "Helvetica Neue" Helvetica, Arial, sans-serif;
	font-size: 1rem;
	height: 100%}


h1, .h1 { font-size: 2rem;}

h2, .h2 {font-size: 1.7rem;}
  
h3, .h3 {font-size: 1.45rem;}

h4, .h4 { font-size: 1.25rem}

h5, .h5 {font-size: 1.1rem}

h6, .h6 {font-size: 1rem}

h1, h2 { font-weight:900}

h3, h4, h5, h6 { font-weight:700}
  
h1, .h1, h2, .h2, h3, .h3, .show-grid {
    margin-bottom: .5rem;
    margin-top: 1rem;
}

h1, h2, .h1, .h2 { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;  letter-spacing: -.025em}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;  letter-spacing: -.05em}

legend {font-size: 1.115rem}

fieldset { position:relative}

/* Start ids */

body#agenthome-homepage {padding-top: 50px}


#collapseSideSocial.collapse:before {
	background: #fff;
	}
	
#collapseSideSocial.collapsing,
#collapseSideSocial.collapse {
	position:absolute;
	padding: 20px;
	width: 73px;
	right:0;
	left: auto;
	background-color: #fff;
	z-index: -1}

#agenthome-homepage .embed-responsive,
#agenthome-homepage .primary-column  {
	padding-right: 0;
	padding-left: 0;
	height: 100%;
	background-color: #f5f5f5}
	
	
#agenthome-homepage .primary-column  {
	animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-webkit-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;	
	-webkit-transition: opacity .7s ease-in;
	-moz-transition: opacity .7s ease-in;
	-o-transition: opacity .7s ease-in;
	transition: opacity .7s ease-in;
	/*filter: alpha(Opacity=0);
	opacity: 0 */ }

#agenthome-homepage .side-column  {
	padding-top: 1%;
    text-align: left;
	color: #bab2c7;
	background-color: #f5f5f5;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;
	-webkit-transition: left .5s ease-in-out 0s;
	-moz-transition: left .5s ease-in-out 0s;
	-o-transition: left .5s ease-in-out 0s;
	transition: left .5s ease-in-out 0s}

#navbar  > ul:first-child { border-top: #fff 1px solid; border-bottom: #fff 1px solid; }


#twoColumn {
    position: relative;
	top: 0;
    left: 0;
    width: auto;
	height: 100%}
	
#qsLocationBox {margin-bottom:0; padding: 0 15px}


/* End ids */


/* start classes */

/* start navs */

.nav .nav-item a:before {
	position:relative;
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 2rem;
	font-family: fontawesome;}
	
.nav .nav-item-home a:before {content:"\f015";}
.nav .nav-item-search a:before {content:"\f002";}
.nav .nav-item-blog a:before {content:"\f299";}
.nav .nav-item-market-report a:before {content:"\f012";}
.nav .nav-item-about a:before {content:"\f1ae"; font-size: 3rem}
.nav .nav-item-contact a:before {content:"\f007";}

.nav.navbar-nav.navbar-right > li {display: inline-block}

.row-offcanvas .visible-xs .btn {position: relative;z-index: 2000}
	
.navbar.navbar-fixed-top:after,
.navbar-collapse.collapse.in:after,
.navbar-collapse:after,
#collapseSideSocial.collapse:before {
    position: absolute;
    display: block;
	width: 100%;
    height: 100%;
    top: 0;
	bottom: 0;
	left: 0;
    content: "";
    z-index: -1;}
	
.navbar-collapse:after {width:90px; overflow: hidden} 
	
.navbar-collapse.collapse.in:after { position: fixed; width: 90px;}

.navbar-collapse.collapse.in {margin-left: 0}

.navbar-collapse.collapsed.collapse,
.navbar-collapse.collapsed.collapse.in {display: block;}

.navbar-collapse.collapsed  { display: none}

.navbar-collapse.collapse {
	width: 90px;
	margin-left: -170px;
	-webkit-transition: margin-left .5s ease-in-out 0s;
	-moz-transition: margin-left .5s ease-in-out 0s;
	-o-transition: margin-left .5s ease-in-out 0s;
	transition: margin-left .5s ease-in-out 0s}
	
.navbar-toggle .icon-bar { background-color:#fff}

.navbar .btn-sm {
	font-size:.7rem;
	line-height: 1.25;
	width:100%;}

.navbar-toggle.collapsed {margin-left:0}

.navbar-nav .btn {border-radius: 0}
		
.navbar-brand > span:first-child {
		position:relative;
		display: block;
		white-space:100%}
		
.navbar-nav > li > a,
.navbar-nav .btn,
.navbar-nav > li > a:visited,
.navbar-nav .btn:visited {
	width:100%;
	font-size: 0.7rem;
	text-transform:uppercase;
	font-weight:300;
	letter-spacing: 0.035em;
	text-align: center;
	background: none;
	border:0;}
	
.navbar-nav > li > a, .navbar-nav > li > a:visited {line-height: normal}
	
.navbar-nav > li {float: none}

.nav.navbar-nav {
	margin-top: 0;
	margin-bottom:0;
	width:90px;
	clear: both}

.navbar-collapse > ul,
.navbar-collapse button,
#collapseSideSocial.collapsing,
#collapseSideSocial.collapse.in,
#collapseSideSocial.collapse {
	animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  
  transition: left 450ms ease-in-out 0s;
  -webkit-transition: left 450ms ease-in-out 0s;
  -moz-transition: left 450ms ease-in-out 0s;
  -o-transition: left 450ms ease-in-out 0s;
  -ms-transition: left 450ms ease-in-out 0s;
  }
	
.navbar-brand img {
	display:block;
	margin: 0 auto;
	height: auto;
	max-height: 40px;}
	
.navbar {margin-bottom: 0; padding: 0}

.navbar-toggle {
	float: left;
	margin-left: 90px;
	-webkit-transition: margin-left .5s ease-in-out 0s;
	-moz-transition: margin-left .5s ease-in-out 0s;
	-o-transition: margin-left .5s ease-in-out 0s;
	transition: margin-left .5s ease-in-out 0s;
	z-index:2000}
	
.navbar-header, .navbar-brand { float:none}

.navbar-collapse {max-height: 640px}

.navbar-brand {
	display:block;
	margin: 0 auto;
	padding: 5px;}
	
.nav-bar-login, .nav-bar-login > li { width:100%}

/* end navs */


/* start classes */

.well .input-group-addon > a .fa {display: inline; padding: 10px 3px}

.side-column .agent-info-container ~ p:last-child {padding-bottom:1.5%}

.calculator .input-group .input-group-addon:first-child {margin-top: 5px}
   
.calculator .input-group .input-group-addon {
    padding-right: 4px;
    padding-left: 4px;
    border: 0;
    background: transparent}
	
.reco-qs-container-inner legend + .btn.btn-link {padding-right:15px}

.column-container + .agent-info-container .agent-info {padding: 10px 0; width: auto}

.column-container + .agent-info-container > .company-logo { margin-top: 1.5rem; margin-left: 1.2rem}

.column-container + .agent-info-container p.agent-email:after  {display: none; content:"";}

.column-container + .agent-info-container .agent-email {max-width: 150px}
	
.column-container + .agent-info-container p,
.column-container + .agent-info-container  > div {font-weight: normal}

.column-container + .agent-info-container  > div { clear: none}

.column-container + .agent-info-container  .agent-photo,
.column-container + .agent-info-container .agent-cell,
.column-container + .agent-info-container .agent-name,
.column-container + .agent-info-container .agent-office-phone,
.side-column .agent-office-address,
.side-column .agent-office-city-stae-zip  { display:none}

.side-column + .button-scroll-container {
	position:absolute;
	padding: 1% 0;
	text-align:center;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.82);
	box-sizing: content-box;
	z-index:10}

.video-container + .agent-info-container { position: relative; width: 100%}

.column-container + .agent-info-container {
	padding: 1.25% 2.7% .8%;
	background-color:#f6f4f2;
	border: #c2c2c2 1px solid;
	clear: both}

.discover-home-value .btn > input {text-indent: -15000px; background: none}

.agent-info .agent-photo > img { max-height: 147px}

.discover-home-value .btn:before {
	position:absolute;
	display:block;
	font-family: fontawesome;
	font-size: 1.1rem;
	-webkit-text-stroke: 1px #fff;
	-webkit-text-fill-color: #9B9B9B;
	color:#9B9B9B;
	content: "\f002";}
	
.discover-home-value .btn:hover:before {
	-webkit-text-stroke: 1px #9B9B9B;
	-webkit-text-fill-color: #fff;
	color:#fff;}
	
.side-column .agent-contact p {
	margin-top:4px;
	margin-bottom:0;
	padding: 0;
	line-height: 1.16em;
	text-align:left}
	
.side-column .discover-home-value p {
	/* margin: -.3em 0 0; */
	margin-top: .3rem;
	padding-top:0;
	padding-bottom:5%;
	font-family:"Lato";
	font-weight:300;
	font-size: 1.35rem;
	line-height: 1.2;
	text-align:center;
	color:#fff}
	
.calculator .form-group > div {padding-left: 6px}

.agent-info-container .company-logo img {max-height: 29px}

.primary-column .agent-info-container { overflow:hidden}

.agent-info-container .company-logo {max-width: 50px}

.agent-contact .reco-connect { display: none}

.button-scroll-container .glyphicon { margin: 0 10%}

.side-column .featurette-heading {
	margin-top: 1rem;
	font-size: 1.4rem;
	line-height: 1.25;
	text-transform: uppercase}
	
.side-column .discover-home-value-container {padding-right: 0; padding-left:0}

.testimonial-carousel .carousel-caption {
    position: relative;
    margin: 0 auto;
    max-width: 750px;
    right: auto;
    left: auto}

.discover-home-value-container .well { background: transparent url(../images/blurred-background.jpg) no-repeat center}

.side-column .well.discover-home-value {padding:15px 30px 30px}

.calculator .control-label {	
	display: block;
	margin-bottom: 9px;
	padding-top: 0 0 9px 22px;
	font-size: .875rem;
	line-height:1.05;
	text-align:left}

.calculator .interest-rate-output  {left: 16px}

.formtable.calculator  {
    color: currentcolor;
    text-align: right}

.carousel .glyphicon { text-decoration:none}

.discover-home-value input,
.discover-home-value .btn { border: 0; border-radius: 0; box-shadow: none}
.discover-home-value .btn { padding: 4px 16px 7px 10px; background: #fff}

.well .form-control, 
.well .input-group .form-control,
.well .input-group-addon:last-child {border: 0}

.footer .fa { font-size: 2rem; opacity: 0.75}

.well.agent-info {
	margin-bottom:0;
	padding-right:0;
	padding-left:0;
	border: 0;
	box-shadow: none}
	
.btn.btn-link { padding-right:0;}

.btn.btn-link:hover,
	.btn.btn-link:focus,
	.btn.btn-link {
    background: none;
    border: 0 none;
    color: currentcolor}

.agent-contact p.agent-name  {margin-top:0; font-size: 1rem}

.agent-contact p.agent-cell {font-size: 1.05rem; font-weight: 700}

.side-column div + p { padding-top: 0}

.agent-contact, .agent-contact p {
	font-family:"Lato";
	font-size: .775rem;
	line-height: 1.2;}

.calculator input {
    position: relative;
    padding: 0 4px;
    font-size: 14px !important;
    z-index:2}
  
.footer-text > div { float: none; margin-bottom: .9rem;}
	
.jumbotron .h1, .jumbotron h1 { font-size: 3.5rem; }

.jumbotron h1, .jumbotron .h1, .jumbotron h2, .jumbotron .h2 { font-family:"Lato";}

.side-column h1, .side-column h2, .side-column h3,
.side-column h4, .side-column h5, .side-column h6  {margin: 2rem 0 .25rem}

.side-column p  {padding: 3% 0 6%}

.discover-home-value legend  {
	font-family:"Lato";
	font-weight:300;
	font-size: 1.675rem;
	line-height: 1.2;
	text-align:center;
	color:#fff;
	border:0}
		
.thumbnail > a, a .fa { text-decoration: none}
	
.side-column p  { font-weight: normal; text-align:justify}

.side-column form.well,
.sidebar-offcanvas form.well,
.sidebar form.well {margin-top: 1rem; padding: 0 0 19px}
	
button.glyphicon {
	font-size: 24px;
	line-height:24px;
	width:48px;
	height:48px;
    background: none;
    border-radius: 50%;
	text-align:center;}
	
form .panel-collapse {
	background-color: rgba(0, 180, 210, 0.82);
    position: absolute;
	padding-top:15px;
    margin: 19px auto 0; 
    width: 100%;
    z-index: 100}
	
.form-control::-moz-placeholder { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
.form-control:-ms-input-placeholder { font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
.form-control::-webkit-input-placeholder { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}

.form-control {font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 1.1rem}
	
.agent-info-container { padding: 0 0 0 2.7%}

.control-label, label, .form-control { font-size: 0.85rem; font-weight: 300}

.agent-photo {margin-bottom: .25rem}
	
.agent-contact {
	padding-right: 0;
	width: 100%;
	clear:left}

.lead, .side-column {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
	text-align:justify}
	
.lead {font-size: 1.1em}

.well, .form-control,	
.list-group-item:first-child,
.panel-heading,
.panel,
.social-media-icons li a,
.reco-connect li a,
.input-group-addon {border-radius: 0}

.carousel { margin: 0 15px; padding: 0}

.footer {
	font-family: "Lato";
	color: #4a4a4a;
	font-weight: 300;
	z-index:1010}
	
.agent-name-ft {
	margin-bottom: 1.5rem;
	font-size: 2rem;
	line-height: 2.125rem;
	font-weight: 700}
	
.text-style-1 {font-size: 1rem;}

.text-style-2 { font-size: 1.1rem; font-weight: bold;}

.padding-right-0 {padding-right: 0}

.padding-left-0 {padding-left: 0}

.testimonial-quote { display: block; font-weight: 300}  

.testimonial-source-name {
    display: block;
	font-weight: 300;
    font-size: 1.125rem}

.footer-lead-txt {font-size: 1.45rem}

.footer-text, .footer { font-size: 1em; line-height: 1.25em}



/* end classes */


/* start embedded content css */

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
/* end ebbedded content css */

/* start social media icons */

ul.social-media-icons li, ul.reco-connect li {
    float: left;
    margin: 10px 10px 0 0;
    max-width: 58px;
    min-width: 30px;
}

.social-media-icons li a, .reco-connect li a {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    text-indent: -15000px;
    width: 30px;
}


.social-media-icons li a span, .reco-connect li a span {
    background: #ccc url("../images/social-network-icons.png") no-repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
    float: left;
    height: 30px !important;
    position: relative;
    width: 30px !important;
	border-radius: 5px;
}

.social-media-icons span.reco-facebook,
.reco-connect span.reco-facebook {
    background-position: 0 0;
}
.social-media-icons span.reco-twitter,
.reco-connect span.reco-twitter {
    background-position: -40px 0;
}
.social-media-icons span.reco-youtube,
.reco-connect span.reco-youtube {
    background-position: -240px 1px;
}
.social-media-icons span.reco-pinterest,
.reco-connect span.reco-pinterest {
    background-position: -200px 0;
}
.social-media-icons
.reco-connect span.reco-linkedin {
    background-position: -160px 0;
}
.social-media-icons span.reco-google-plus,
.reco-connect span.reco-google-plus {
    background-position: -120px 0;
}
.social-media-icons span.reco-tumbler,
.reco-connect span.reco-tumbler {
    background-position: -280px 0;
}
.social-media-icons span.reco-yahoo,
.reco-connect span.reco-yahoo {
    background-position: -320px 0;
}
.social-media-icons span.reco-myspace,
.reco-connect span.reco-myspace {
    background-position: -360px 0;
}


/* end socia media icons */


/* start keyframes */

@keyframes fadein {
	from{opacity: 0
}

to {
	opacity: 1
}

}@-moz-keyframes fadein {
	from{opacity: 0
}

to {
	opacity: 1
}

}@-webkit-keyframes fadein {
	from{opacity: 0
}

to {
	opacity: 1
}

}@-o-keyframes fadein {
	from{opacity: 0
}

to {
	opacity: 1
}

}


@keyframes animationFrames {
  0% {
    opacity:0;
    transform:  translate(-10px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  80% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames {
  0% {
    opacity:0;
    -moz-transform:  translate(0px,0px)  ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
  80% {
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(-150px,0px)  ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(-150px,0px)  ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(30px,0px)  ;
  }
  80% {
    -o-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(-150px,0px)  ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(30px,0px)  ;
  }
  80% {
    -ms-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

/* end keyframes */



@media screen and (min-width:0\0) {  /* ie 9/10 */ 


}


@media (max-width:320px) {
	
	.agent-info-container { width: 45%}

}

@media (min-width: 480px) {
	
	.column-container + .agent-info-container > .company-logo { margin:0}
	
	.column-container + .agent-info-container p:after {
		position:relative;
		display:inline-block;
		width:12px;
		text-align:center;
		content:"|";}
	
	.column-container + .agent-info-container p,
	.column-container + .agent-info-container  > div {
		float: left;
		margin: 0;
		font-size: 0.925rem;
		font-weight: normal;}
	
	.footer-text > div { float: left; min-height: 80px}
	
			  
}
	
@media (max-width:480px) {
	
	
	html, body{ font-size: 12px;}
	
	
}

@media (max-width:480px) and (orientation:landscape) {
	
	
}

@media (max-width: 767px) {

	.navbar.navbar-fixed-top { position:absolute}

}

@media (max-width: 768px) {
	

}


@media (min-width: 768px) {
	
	html, body{ font-size: 15px}
	
	body {padding-top: 0; font-size: 1rem}
	
	body#agenthome-homepage { padding-top: 0}
	
	#agenthome-homepage .side-column  {padding: 1% 1.5% 1% 1.7%}
	
	#collapseSideSocial.collapsing,
	#collapseSideSocial.collapse {
		right: auto;
		left: 100%;}
		
	.side-column .panel-collapse .form-group:nth-child(2n+1) { clear: left}
		
	.column-container + .agent-info-container .agent-info {padding: 15px 19px;}
	
	.column-container + .agent-info-container p:after {width:50px}
	
	.calculator .input-group .input-group-addon:last-child { padding-right: 0}

	.calculator .input-group .input-group-addon {
    	background: none;
    	border: 0;
    	padding-left: 4px;
   	 	padding-right: 4px;}
		
	.nav.navbar-nav.navbar-right > li {margin-bottom: -5px}

	.nav.navbar-nav.navbar-right > li > button {padding: 15px 0;}
	
	.nav .nav-item a:before {padding-top: 10px; padding-bottom: 6px}

	.thumbnail.well .caption { padding-top: 0; min-height: 148px}
	
	.thumbnail.well .fa {padding-top: 10px}
		
	.agent-info-container .company-logo img {max-height: 39px}
	
	.side-column .discover-home-value-container {padding-right: 15px}
	
	.navbar-collapse.collapsed  { display: block}
	
	.calculator .control-label {
		margin-bottom:0;
		padding: 7px 0;
		height: 34px;
		text-align: right}
		
	.navbar.navbar-fixed-top {
	position: absolute;
	/* margin-left: -90px; */
	padding-right:0;
	padding-left:0;
	max-width: 16.8vw;
	text-align: center;
    text-transform: uppercase;
	min-height: 900px;
	top: 0;
	bottom: 0;
    z-index: 1000;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;
	-webkit-transition: margin-left .5s ease-in-out 0s;
	-moz-transition: margin-left .5s ease-in-out 0s;
	-o-transition: margin-left .5s ease-in-out 0s;
	transition: margin-left .5s ease-in-out 0s}
		
	.navbar-collapse.collapse {
		margin-left: 0;
		width: 100%;
		left: 0}
		
	.navbar-collapse.collapsing {
		animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;}
	
	.navbar-header {
	animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/}
	
	.navbar-nav .btn {
	display: block;
	float:left;
	margin: 0 auto;
	padding-right: 7px;
	padding-left: 7px}
	
	.navbar .btn-sm {width:auto}
	
	.navbar-brand {
		padding-top:15px;
		padding-bottom:15px;
		max-width: 120px;
		height:auto;
		min-height:50px}
	
	.nav.navbar-nav { width:100% }
	
	.navbar-brand img {max-height: 120px}
	
	
	.outer-column-container > .row-offcanvas {margin: 0}

	.video-container .embed-responsive-item {
		margin-top: 0 !important;
		margin-left:0 !important;
		max-height: 100%}
	
	.agent-info-container .company-logo {max-width: 100px}
	
	.footer .container {width: auto}
	
	.caption h1, .caption .h1 {font-size: 1.45rem}
	.caption h2, .caption .h2 {font-size: 1.25rem}
	.caption h3, .caption .h3 {font-size: 1.05rem}
		
	.side-column legend, .sidebar-offcanvas legend, .side-bar legend {margin-bottom: 0}
	
	.outer-column-container, .footer {position:relative}
	
	.side-column { max-height: 900px}
	
	.footer {padding: 2% 3% 0}
	
	
	/* .footer {margin-left: 16.66666667%; /* eq: col-xs-offset-2 } */

	.btn, .btn-group-lg > .btn, .btn input {font-size: .85rem}
	
}

@media (max-width: 991px) {
	
	  .side-column #qsLocationBox, .sidebar-offcanvas  #qsLocationBox, .sidebar  #qsLocationBox  { width: 100%}

}


@media (min-width: 992px) {
	
		html, body{ font-size: 16px}
		
		body {font-size: 1rem}
		
		.side-column + .button-scroll-container { max-width: 24.5vw}
		
		.side-column .input-group.form-group {width: 100%}
		
		.side-column .panel-collapse .form-group:nth-child(3n+1),
		.sidebar-offcanvas .panel-collapse .form-group:nth-child(3n+1),
		.sidebar .panel-collapse .form-group:nth-child(3n+1) { clear: none}	
		
		.panel-collapse .form-group:nth-child(3n+1) { clear: left}		
		
		.side-column .form-group {width: 50%}
		
		.button-scroll-container .glyphicon-chevron-up { text-indent: 2px;}
		.button-scroll-container .glyphicon-chevron-down {}

		
		.discover-home-value legend {font-size: 1.8rem;}
		
		.caption h1, .caption .h1 {font-size: 1.65rem}
	  	.caption h2, .caption .h2 {font-size: 1.45rem}
	  	.caption h3, .caption .h3 {font-size: 1.25rem}
		
		.well.agent-info {margin-bottom: 0}
		
		.side-column {font-size:.875rem}
		.lead {font-size: 1em}
		
		
}



@media (max-width: 1199px) {
	
	.video-container .embed-responsive-item {width: 100% !important;}
	
}


@media (min-width: 1200px) {
	
		html, body{ font-size: 18px}
		
		body {font-size: 1rem}
		
		#agenthome-homepage .primary-column {position:absolute}
				
		#agenthome-homepage .outer-column-container  {
		height: 100%;
    	left: 0;
    	overflow-x: hidden;
    	overflow-y: auto;
    	top: 0;
    	width: 100%;}
		
		#agenthome-homepage .side-column  { 
		position: relative;
		float:right;
		margin-right:0;
		padding-right: 1%;
		padding-left: 1.7%;
    	height: 100%;
		min-height: 900px;
		top: 0;
		background-color: #f5f5f5;
		overflow: hidden;
		/* overflow-x: hidden;
    	overflow-y: auto; */}
				
		.caption h1, .caption .h1 {font-size: 1.75rem}
	  	.caption h2, .caption .h2 {font-size: 1.55rem}
	  	.caption h3, .caption .h3 {font-size: 1.35rem}
		
		.side-column .agent-info-container ~ p:last-child,
		.side-column .agent-info-container + p.lead {padding-bottom: 10%}
		
		.agent-info-container .company-logo img {max-height: 44px}
		
		.agent-contact p.agent-cell { font-size:.975rem}
	
		.primary-column .agent-info-container { position:absolute; bottom:0; left:0}
				
		.side-column .discover-home-value-container { padding-right: 0}
						
		.video-container .embed-responsive-item {max-width: 1600px}
		
		.footer .container { max-width: 98%}
		
		.discover-home-value legend {font-size: 1.54rem;}
		
		.hide-scroll-bar {
			padding-right: 15px;
    		width: 100%;
			height: 99%;
    		overflow: auto}

}


@media (min-width: 1400px) {
	
		.side-column .agent-info-container ~ p:last-child,
		.side-column .agent-info-container + p.lead {padding-bottom: 8.5%}	
				
		.agent-contact p.agent-cell { font-size:1.05rem}

}

@media (min-width: 1600px) {
	
		#agenthome-homepage .side-column  { padding-right: 2.5%; padding-left: 2.7%}

		.lead {font-size: 1.1em}
	
}

@media (min-width: 1800px) {

		.nav.navbar-nav.navbar-right > li > button {padding: 15px 4px; max-width: 50%}

}
