



/* Larger Type Styles for Headlines, etc. */
#h32k {color: #000000; font-size: 32px; font-weight: 200; }
#h32k-b {color: #000000; font-size: 32px; font-weight: bold; }
#h32w {color: #ffffff; font-size: 32px; font-weight: 200; }
#h32w-b {color: #ffffff; font-size: 32px; font-weight: bold; }
	#sup-h32 {font-size:18px; position:relative; top:-7px; font-family: verdana, helvetica, arial; }
#h28k {color: #000000; font-size: 28px; font-weight: 200; }
#h28k-b {color: #000000; font-size: 28px; font-weight: bold; }
#h28w {color: #ffffff; font-size: 28px; font-weight: 200; }
#h28w-b {color: #ffffff; font-size: 28px; font-weight: bold; }
#h24k {color: #000000; font-size: 24px; font-weight: 200; }
#h24k-b {color: #000000; font-size: 24px; font-weight: bold; }
#h24w {color: #ffffff; font-size: 24px; font-weight: 200; }
#h24w-b {color: #ffffff; font-size: 24px; font-weight: bold; }
	#sup-h24 {font-size:18px; position:relative; top:-7px; font-family: verdana, helvetica, arial; }
#h22k {color: #000000; font-size: 22px; font-weight: 200; }
#h22k-b {color: #000000; font-size: 22px; font-weight: bold; }
#h22w {color: #ffffff; font-size: 22px; font-weight: 200; }
#h22w-b {color: #ffffff; font-size: 22px; font-weight: bold; }
#h20k {color: #000000; font-size: 20px; font-weight: 200; }
#h20k-b {color: #000000; font-size: 20px; font-weight: bold; }
#h20w {color: #ffffff; font-size: 20px; font-weight: 200; }
#h20w-b {color: #ffffff; font-size: 20px; font-weight: bold; }
	#sup-h20 {font-size:16px; position:relative; top:-7px; font-family: verdana, helvetica, arial; }
#h18k {color: #000000; font-size: 18px; font-weight: 200; }
#h18k-b {color: #000000; font-size: 18px; font-weight: bold; }
#h18w {color: #ffffff; font-size: 18px; font-weight: 200; }
#h18w-b {color: #ffffff; font-size: 18px; font-weight: bold; }
#h16k {color: #000000; font-size: 16px; font-weight: 200; }
#h16k-b {color: #000000; font-size: 16px; font-weight: bold; }
#h16w {color: #ffffff; font-size: 16px; font-weight: 200; }
#h16w-b {color: #ffffff; font-size: 16px; font-weight: bold; }
	#sup-h16 {font-size:14px; position:relative; top:-7px; font-family: verdana, helvetica, arial; }

#h14k {color: #000000; font-size: 14px; font-weight: 200; }
#h14k-b {color: #000000; font-size: 14px; font-weight: bold; }
#h14w {color: #ffffff; font-size: 14px; font-weight: 200; }
#h14w-b {color: #ffffff; font-size: 14px; font-weight: bold; }
#h14r {color: #ff0000; font-size: 14px; font-weight: 200; }
#h14r-b {color: #ff0000; font-size: 14px; font-weight: bold; }
#h14g {color: #666666; font-size: 14px; font-weight: 200; }
#h14g-b {color: #666666; font-size: 14px; font-weight: bold; }
	#sup-h14 {font-size:10px; position:relative; top:-6px; font-family: verdana, helvetica, arial; }

#h12k {color: #000000; font-size: 12px; font-weight: 200; }
#h12k-b {color: #000000; font-size: 12px; font-weight: bold; }
#h12w {color: #ffffff; font-size: 12px; font-weight: 200; }
#h12w-b {color: #ffffff; font-size: 12px; font-weight: bold; }
#h12g {color: #666666; font-size: 12px; font-weight: 200; }
#h12g-b {color: #666666; font-size: 12px; font-weight: bold; }
#h12r {color: #ff0000; font-size: 12px; font-weight: 200; }
#h12r-b {color: #ff0000; font-size: 12px; font-weight: bold; }




/* Larger Type Styles for Section link headlines */
#s12r {color: #ff0000; font-size: 12px; font-weight: 200; text-decoration: none; }
#s12r-b {color: #ff0000; font-size: 12px; font-weight: bold; text-decoration: none; }
#s14r {color: #ff0000; font-size: 14px; font-weight: 200; text-decoration: none; }
#s14r-b {color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: none; }
#s16r {color: #ff0000; font-size: 16px; font-weight: 200; text-decoration: none; }
#s16r-b {color: #ff0000; font-size: 16px; font-weight: bold; text-decoration: none; }

/* Larger Type Styles for emphasis or special Text display */
#t12k {color: #000000; font-size: 12px; font-weight: 200; }
#t12k-b {color: #000000; font-size: 12px; font-weight: bold; }
#t11k {color: #000000; font-size: 11px; font-weight: 200; }
#t11k-b {color: #000000; font-size: 11px; font-weight: bold; }
#t9k {color: #000000; font-size: 9px; font-weight: 200; }

/* Special Purpose Tags, some for special type */
	#sup {font-size: 9px; position: relative; top: -4px; font-style: normal; }
#b {font-weight: bold; }
#g {color: #666666; }
#g-b {color: #666666; font-weight: bold; }
#gc {color: #cccccc; }
#gc-b {color: #cccccc; font-weight: bold; }
#tan {color: #666633; }
#tan-b {color: #666633; font-weight: bold; }
#or {color: #ff6600; }
#or-b {color: #ff6600; font-weight: bold; }
#r {color: #ff0000; }
#r-b {color: #ff0000; font-weight: bold; }
#help {cursor: help; }
#cross {cursor: crosshair; }
#logoff {color: #666633; font-weight: 200; text-decoration: none; }
#pophead {color: #333333; font-size: 14px; font-weight: bold; }




/* 1st, 2nd & 3rd Level Navigational Tags */
#top {color: #ffffff; font-size: 10px; font-weight: bold; text-decoration: none; font-family: verdana, helvetica, arial;}
#top:link {color: #ffffff; }
#top:visited {color: #ffffff; }
#top:active {color: #000000; }
#top:hover {color: #000000; }
#tophi {font-family: verdana, helvetica, arial; font-size: 10px; font-weight: bold; text-decoration: none; color: #ffffff; }
#iconav {color: #993300; font-size: 10px; text-decoration: none; font-family: verdana, helvetica, arial; }
#iconav:link {color: #993300; }
#iconav:visited {color: #993300; }
#iconav:active {color: #000000; }
#iconav:hover {color: #000000; }
#iconavhi {font-family: verdana, helvetica, arial; font-size: 10px; text-decoration: none; color: #000000; }
#helptop {color: #000000; cursor: help; font-weight: bold; text-decoration: none; }
#helptop:active {color: #000000; }
#helptop:hover {color: #000000; }
#helptop:link {color: #ffffff; }
#helptop:visited {color: #ffffff; }
#helptop {font-size: 10px; }
#helptophi {color: #000000; cursor: help; font-size: 10px; font-weight: bold; text-decoration: none; }
#redtop {color: #ffffff; font-size: 10px; font-weight: bold; text-decoration: none; }
#redtop:link {color: #ffffff; }
#redtop:visited {color: #ffffff; }
#redtop:active {color: #000000; }
#redtop:hover {color: #000000; }
#redtop {font-family: verdana, helvetica, arial; font-size: 10px; }
#redtophi {color: #000000; font-size: 10px; font-weight: bold; text-decoration: none; font-family: verdana, helvetica, arial; }
#redtophi:link {color: #000000; }
#redtophi:visited {color: #000000; }
#redtophi:active {color: #000000; }
#side {text-decoration: none;}
#side:hover {color: #000000; }
#side:visited {color: #ff0000; }
#sidehi {color: #000000; text-decoration: none; }
#sidehi:link {color: #000000; text-decoration: none; }
#sidehi:visited {color: #000000; }
#arrnav {color: #ffffff; font-size: 12px; font-weight: bold; text-decoration: none; }
#arrnav:visited {color: #ffffff; }
#arrnav:active {color: #000000; }
#arrnav:hover {color: #000000; }
#arroff {color: #cccccc; font-size: 12px; font-weight: bold; }



/* White footer text and link */
#foot {font-size: 10px; color: #ffffff; }
#foot:link {color: #ffffff; }
#foot:visited {color: #ffffff; }
#foot:active {color: #000000; }
#foot:hover {color: #ffffff; }


/* White popup control - close, print - text and link */
#ctrlwhite {font-size: 10px; color: #ffffff; }
#ctrlwhite:link {color: #ffffff; }
#ctrlwhite:visited {color: #ffffff; }
#ctrlwhite:active {color: #000000; }
#ctrlwhite:hover {color: #000000; }


/* tablebutton links */
#buttonlink {font-size: 10px; text-decoration: none; color: #ffffff; }
#buttonlink:link {color: #ffffff; }
#buttonlink:visited {color: #ffffff; }
#buttonlink:active {color: #ffffff; }
#buttonlink:hover {color: #ffffff; }


/* Use these to make radios NOT have a square box around them in NS; use the bgcolor appropriate to the intended background color */
#radio-white { background-color: #feffff; }
#radio-gray3 { background-color: #333333; }
#radio-gray6 { background-color: #666666; }
#radio-gray9 { background-color: #999999; }
#radio-grayc { background-color: #cccccc; }
#radio-black { background-color: #000000; }
#radio-dksand { background-color: #ccccaa; }
#radio-sand { background-color: #e6e6bf; }
#radio-ltsand { background-color: #f3f3df; }
#radio-beige { background-color: #d9d9c3; }
#radio-ltbeige { background-color: #e6e6d4; }


/* Common tags, for implementing the standard type */
/* No coder intervention required, not for use as ID or Class values */
a {font-family: verdana, helvetica, arial; color: #ff0000; }
a:link {color: #ff0000; }
a:visited {color: #663333; }
a:active {color: #000000; }
a:hover {color: #000000; }
body {color: #000000; font-family: verdana, helvetica, arial; font-size: 10px; }
br {font-family: verdana, helvetica, arial; }
div {font-size: 10px; font-family: verdana, helvetica, arial; }
head {font-family: verdana, helvetica, arial; }
nobr {font-family: verdana, helvetica, arial; }
p {font-size: 10px; font-family: verdana, helvetica, arial; }
span {font-size: 10px; }
span {font-family: verdana, helvetica, arial; }
td {font-size: 10px; font-family: verdana, helvetica, arial; }


/* common format tags, no coder intervention required */
/* NOT currently available */
/* body {margin-right: 0px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: absolute; top: 0px; left: 0px; padding: 0px; } */


/* The following tags are deprecated - their use will not meet standards for the sprintpcs.com style guide */
/* Existing projects do use these tags, so they are included here - Do not use these tags in ANY new designs */

#a-nav {text-decoration: none; }
#b-gray {color: #666666; font-weight: bold; }
#bhead-k {color: #000000; font-size: 20px; font-weight: 400; }
#body {color: #000000; font-family: verdana, helvetica, arial; font-size: 10px; }
#gray {color: #666666; }
#gray:link {color: #666666; }
#gray:visited {color: #999999; }
#gray:active {color: #000000; }
#gray:hover {color: #000000; }
#b-tan {color: #666633; font-weight: bold; }
#b-or {color: #ff6600; font-weight: bold; }
#red {color: #ff0000; }
#b-red {color: #ff0000; font-weight: bold; }

#large {font-size: 12px; }
#largeb {font-size: 12px; font-weight: bold; }
#largeg {font-size: 12px; color: #666666; } 
#largebg {font-size: 12px; color: #666666; font-weight: bold; }
#larget {font-size: 12px; color: #666633; font-size: 12px; }
#largebt {color: #666633; font-weight: bold; }
#larger {font-size: 12px; color: #ff0000; font-size: 12px; }
#largebr {color: #ff0000; font-weight: bold; }
#foottext {color: #cccccc; font-size: 10px; text-decoration: none; font-family: verdana, helvetica, arial; }
#foottext:active {color: #000000; }
#foottext:hover {color: #333333; }
#helpfoot {cursor: help; color: #ffffff; font-size: 10px; text-decoration: none; font-family: verdana, helvetica, arial; }
#helpfoot:link {color: #ffffff; }
#helpfoot:visited {color: #ffffff; }
#helpfoot:active {color: #000000; }
#helpfoot:hover {color: #333333; }
#head {color: #000000; font-size: 18px; font-weight: 200; text-decoration: none; font-family: verdana, helvetica, arial; }
#L {font-family: verdana, helvetica, arial; }
#plink {font-weight: 200; text-decoration: none;}
#plink:link {color: #333333; }
#plink:visited {color: #333333; }
#plink:active {color: #666633; }
#plink:hover {color: #666633; }
#redside {color: #000000; text-decoration: none; font-size: 10px; }
#redside:hover {color: #ff0000; }
#redsidehi {color: #ff0000; font-size: 10px; font-weight: bold; text-decoration: none; }
#redsidehi:link {color: #ff0000; }
#redsidehi:visited {color: #ff0000; }
#redsidehi:active {color: #ff0000; }
#startlink {color: #ff0000; font-size: 12px; font-weight: bold; text-decoration: none; }
#subhead {color: #000000; font-size: 14px; font-weight: bold; }
#tanlink {font-weight: 200; }
#tanlink:active {color: #000000; }
#tanlink:hover {color: #000000; }
#tanlink:link {color: #666633; }
#tanlink:visited {color: #666633; }
#tlink {font-weight:200; }
#tlink:link {color: #ff0000; }
#tlink:visited {color: #663333; }
#tlink:active {color: #000000; }
#tlink:hover {color: #000000; }
#tred {color: #ffffff; font-weight: bold; font-family: verdana, helvetica, arial; }
#ttan {color: #000000; font-weight: bold; font-family: verdana, helvetica, arial; }
#warnhead {color: #ffffff; font-size: 14px; font-weight: bold; }
#white {color: #ffffff; font-weight: 200; text-decoration: none; }
#white:active {color: #000000; }
#white:hover {color: #000000; }
#wlink {font-weight: 200; text-decoration: none;}
#wlink:link {color: #ffffff; }
#wlink:visited {color: #ffffff; }
#wlink:active {color: #000000; }
#wlink:hover {color: #000000; }

